body {
    font-family: "Avenir", sans-serif;
    margin: 0;
    padding: 0;
}

.containertext {
    display: inline-block; /* Text als Inline-Block-Element behandeln */
    text-align: justify; /* Text im Container zentrieren */
    max-width: 750px; /* Maximale Breite des Containers */

    justify-content: center;

    
  }


.portfolio {
    text-align: center;
    color: #000000;
}

.portfolio img {
    min-width: 100%; /* Maximale Breite des Containers */
    max-width: 100%; /* Maximale Breite des Containers */

    overflow: hidden; /* Überlauf ausblenden, falls das Bild breiter ist als der Container */
    height: auto; /* Höhe automatisch anpassen, um das Bildverhältnis beizubehalten */
    margin-bottom: 20px; /* Optional: Fügen Sie einen unteren Abstand hinzu, um Platz für andere Inhalte zu schaffen */
  }  

.portfolio h1 {
    text-align: justify; 
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 20px; /* Ändere den unteren Abstand für Überschriften und Absätze auf 10px */
    padding-left: 100px; 

}

.portfolio h2 {
    text-align: justify; 
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 40px; /* Ändere den unteren Abstand für Überschriften und Absätze auf 10px */
    padding-left: 100px; 
}


.portfolio p {
    font-size: 18px;
    text-align: justify; 
    padding-right: 100px; 
    padding-left: 100px; 
    margin-bottom: 0px; /* Ändere den unteren Abstand für Überschriften und Absätze auf 10px */
}
/* Füge Npx Margin am unteren Rand der Seite hinzu */
body::after {
    content: "";
    display: block;
    height: 100px;
}


.containerhome {
    font-family: "Avenir", sans-serif;
    margin: 0;
    padding: 0;
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerhome:hover {
    background-color: #eee;
}

.container {
    font-family: "Avenir", sans-serif;
    margin: 0;
    padding: 0;
    max-width: 960px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    font-size: 18px;
}

.logo {
    margin-top: 40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    padding: 10px 20px;
}

