body, html {
    margin: 0;
    padding: 0;
    background-color: black; /* Hintergrundfarbe auf Schwarz setzen */
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .container {
    position: relative; 
    max-width: 100%;
    margin: 0 auto;
  }
  
  .image-container {
    width: 100%; /* Breite des Bildcontainers anpassen */
    height: 200px; /* Höhe des Bildcontainers anpassen */
    position: relative; /* Positionierung des Containers */
    overflow: hidden; /* Überlauf ausblenden */
  }

  .image {
    width: 100%; /* Bildbreite auf 100% setzen */
    height: auto; /* Bildhöhe auf auto setzen */
    margin-bottom: 0px;
    filter: grayscale(100%); /* Filtereffekt entfernen, um das Bild in Farbe zu ändern */
    clip: rect(500px, 500px, 500px, 500px); /* Bild beschneiden - Werte anpassen */
    object-fit: cover;
  }
  
  .image:hover {
    filter: grayscale(0%); /* Filtereffekt entfernen, um das Bild in Farbe zu ändern */
  }
  
  .link {
    color: black;
    font-family: Avenir, sans-serif;
  }
  .containerhome {
    font-family: "Avenir", sans-serif;
    margin: 0;
    padding: 0;
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: white;
    margin-bottom: 200px;
}  
.containerhome:hover {
    background-color: #343434;
}