body {
    font-family: "Avenir", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}


/* --------------workpage-----------------*/

.containerwork {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .imagecontainerwork {
    width: 100%; /* Breite des Bildcontainers anpasses */
    height: 200px; /* HÃ¶he des Bildcontainers anpassen */
    position: relative;
    top: 0px; left: 0px;
    overflow: hidden; /* Ãœberlauf ausblenden */
  }
  
  .imagework {
    width: 100%; /* Bildbreite auf 100% setzen */
    height: auto; /* Bildhoehe auf auto setzen */  
    top: 100; /* Abstand von oben */
    margin-bottom: 0px;
    filter: grayscale(100%); /* Filtereffekt entfernen, um das Bild in Farbe zu aendern */
    object-fit: cover;
  transition: filter 0.5s;
  }
  
  .imagework:hover {
    filter: grayscale(0%); /* Filtereffekt entfernen, um das Bild in Farbe zu Ã¤ndern */
  }
  
/* --------------Arbeiten-----------------*/

.containertext {
    display: inline-block; /* Text als Inline-Block-Element behandeln */
    text-align: justify; /* Text im Container zentrieren */
    max-width: 750px; /* Maximale Breite des Containers */
    justify-content: center;
  }

.portfolio {
    text-align: center;
    color: #000000;
}

.portfolio img {
    min-width: 100%; /* Maximale Breite des Containers */
    max-width: 100%; /* Maximale Breite des Containers */
    overflow: hidden; /* Überlauf ausblenden, falls das Bild breiter ist als der Container */
    height: auto; /* Höhe automatisch anpassen, um das Bildverhältnis beizubehalten */
    margin-bottom: 20px; /* Optional: Fügen Sie einen unteren Abstand hinzu, um Platz für andere Inhalte zu schaffen */
  }  

.portfolio h1 {
    text-align: justify; 
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 20px; /* Ändere den unteren Abstand für Überschriften und Absätze auf 10px */
    padding-left: 100px; 

}

.portfolio h2 {
    text-align: justify; 
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 40px; /* Ändere den unteren Abstand für Überschriften und Absätze auf 10px */
    padding-left: 100px; 
}


.portfolio p {
    font-size: 18px;
    text-align: justify; 
    padding-right: 100px; 
    padding-left: 100px; 
    margin-bottom: 0px; /* Ändere den unteren Abstand für Überschriften und Absätze auf 10px */
}


body::after {
    content: "";
    display: block;
    height: 100px;
}

.containerhome {
    font-family: "Avenir", sans-serif;
    margin: 0;
    padding: 0;
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 100px; 
    padding-left: 100px; 

}

.containerhome:hover {
    background-color: #eee;
}

.container {
    font-family: "Avenir", sans-serif;
    margin: 0;
    padding: 0;
    max-width: 960px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    font-size: 18px;
}

.logox {
    max-width: 300px;
    margin-top: 40px;
    text-align: center;

}

.logo {
    width: 200px; /* Breite des Bildes */
    max-width: 300px;
    height: auto; /* Höhe des Bildes (automatische Anpassung an das Seitenverhältnis) */
  }


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

/* --------------contact-----------------*/

.containercontact {
    display: inline-block; /* Text als Inline-Block-Element behandeln */
    text-align: start; /* Text im Container zentrieren */
    max-width: 750px; /* Maximale Breite des Containers */
    justify-content: center;
  }
