body, html {
    margin: 0;
    padding: 0;
    background-color: black; /* Hintergrundfarbe auf Schwarz setzen */
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .container {
    max-width: 100%;
    margin: 0 auto;
  }
  
  .image {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 0px;
    object-fit: cover;
    filter: grayscale(100%); /* Filtereffekt entfernen, um das Bild in Farbe zu ändern */

  }
  
  .image:hover {
    filter: grayscale(0%); /* Filtereffekt entfernen, um das Bild in Farbe zu ändern */
  }
  
  .link {
    color: black;
    font-family: Avenir, sans-serif;
  }
  .containerhome {
    font-family: "Avenir", sans-serif;
    margin: 0;
    padding: 0;
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: white;
    margin-bottom: 200px;
}  
.containerhome:hover {
    background-color: #343434;
}